table {
  width: 100%;
}

td,
th {
  width: 15%;
}

.border {
  background: white;
  border-color: rgb(251, 68, 130);
  border-style: solid;
  border-width: 2px;
  box-shadow: 10px 10px rgb(251, 68, 130);
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.delete {
  cursor: pointer;
  color: #e15639;
}

.edit {
  cursor: pointer;
  color: #187888;
}

.search {
  cursor: pointer;
}

.add {
  font-size: 10px;
  line-height: 28px;
}
